# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py

# DB
db.sqlite3
data/app.sqlite3

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/
